.calcContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height:280px;
    border: 2px solid rgb(185, 201, 172);
    border-radius: 30px;
    margin: 15% auto;
}

.pageTitle {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -20px;
    color: rgb(158, 179, 140);
    font-family: "Sour Gummy", sans-serif;
}

.result {
    position: inherit;
    text-align: right;
    justify-content: end;
    color: rgb(158, 179, 140);
    padding:0 35px;
    font-size: 0.8rem;
}

hr {
    width: 130px;
    margin-bottom: 10px;
    color: rgb(244, 255, 235);
}

button {
    width: 30px;
    text-align: center;
    font-size: 0.8rem;
    padding: 5px;
    margin-bottom: 2px;
    background-color: transparent;
    border: 1px solid  rgb(158, 179, 140);
    color: rgb(255, 200, 83);
    border-radius: 10px;
    cursor: pointer;
}

.zero{
    width: 65px;
}

.row {
    margin: 0 auto;
}

